{{!-- ABOUT PAGE --}}
<section id="about" class="about-page page">

	{{!-- MENU --}}
	<div class="container">
	  	<div class="menu_wrapper">
			<dl class="menu">
				{{#each site.menu }}
				<dd {{#is this.name "about"}}class="active"{{/is}}>
					<a href="{{this.link}}">{{this.name}}</a>
				</dd>
				{{/each}}
			</dl>
		</div>
	</div>
	{{!-- /MENU --}}

	<div class="container">
		<div class="row main-text">
			
			<div class="col-xs-12 col-sm-4 col-md-3 columns">
				<h2>
					{{about.calivista.title}}
				</h2>
				<p>
					{{about.calivista.text}}
				</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9 columns">
				<h2>
					Our team
				</h2>
				<ul id="team-gallery" class="team-gallery">
					{{#each about.team}}
						<li class='team-member'>
							<img class="team-thumb" src="{{ this.thumb }}" />
							<span class="team-name">{{ this.name }}</span>
							<span class="team-job">{{ this.job }}</span>

							<div class="team-details">
								<div class="team-details-member">
									<img class="team-photo" src="{{ this.photo }}" />
									<h3 class="title">{{ this.name }}</h3>
									<h4 class="subtitle">{{ this.job }}</h4>
									<p class="about">{{ this.about }}</p>
								</div>
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
		
		
		<div class="row">
			
			<ul id="photo-gallery" class="clearing-thumbs gallery" data-clearing>
				{{#each about.photos}}
					<li><a data-image="{{ this.image }}" data-caption="{{ this.caption }}" class="photo"><img src="{{ this.thumb }}"></a></li>
				{{/each}}
			</ul>
		
		</div>
		<div class="row">
			<div class="renting-info col-xs-12 col-sm-offset-3 col-sm-6 large-centered columns">
				If you would like to have the best Mendoza experience, stay in CaliVista! For more information, <a href="#visit" data-scroll>see our visit page</a>.
			</div>
		</div>
	</div>
	
	
</section>