{{!-- VISIT PAGE --}}
<section id="visit" class="visit-page page">

	<div class="container">
	{{!-- MENU --}}
	  	<div class="menu_wrapper">
			<dl class="menu">
				{{#each site.menu }}
				<dd {{#is this.name "visit"}}class="active"{{/is}}>
					<a href="{{this.link}}">{{this.name}}</a>
				</dd>
				{{/each}}
			</dl>
		</div>
	{{!-- /MENU --}}
	
		<div class="row">
			
			{{#each visit.properties }}
			<div class="col-sm-6 col-xs-12">
				<div class="property">
					<h3 class="title">{{this.title}}</h3>
					<p class="subtitle">{{this.location}}</p>
					<a target="blank" href="{{this.link}}">
					<div class="property-photo" style="{{#if this.image}}background-image:url(img/{{this.image}});{{/if}}">
					</div>
					</a>
					<p>{{this.description}}</p>
					<a target="blank" href="{{this.link}}" class="book btn btn-primary">
						<i class="fa fa-calendar"></i> Book
					</a>
				</div>
			</div>
			{{/each}}

		</div>
	</div>

</section>